# --- SO / Sistema ---
.DS_Store
Thumbs.db
desktop.ini

# --- Python / Django ---
__pycache__/
*.py[cod]
*$py.class
*.log
logs/

# Virtualenv (entorno virtual)
.venv/
venv/
env/

# Distribución / empaques
build/
dist/
*.egg-info/

# Base de datos local 
db.sqlite3

# Variables de entorno
.env
.env.*
**/.env
**/.env.*

# Archivos estáticos compilados
/static_root/
/media/

# Cachés y herramientas
.mypy_cache/
.pytest_cache/
.pyre/
.pytype/
.ruff_cache/
htmlcov/
.coverage*
.cache/

# IDE / Editor
.vscode/
.idea/
*.code-workspace

# Tooling de Node
node_modules/

# --- React / Create React App ---
# Build de producción de React
**/build/
# Coverage de tests (Jest)
**/coverage/
# Caché de ESLint
**/.eslintcache

# --- Tailwind ---
/static/css/output.css

AGENTS.md
*.sql
.agents/
skills-lock.json
CambiosBasedeDatos/